<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<ul>
		<% for(let i=0; i<data.length; i++) { %>
		<li>
			<%= data[i].name %>
		</li>
		<li>
			<%= data[i].schedule %>
		</li>
		<li>
			<%= data[i].status %>
		</li>
		<li>
			<%= data[i].price %>
		</li>
		<li>
			<%= data[i].venue %>
		</li>
	 <% } %>
	</ul>
</body>
</html>