<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
	<form method="POST" action="/customers/<%= customer.id %>/edit">
		<label>Name</label> <br>
		<input type="text" name="name" value="<%= customer.name %>"> <br>

		<label>Email</label> <br>
		<input type="email" name="email" value="<%= customer.email %>"> <br>

		<label>Password</label> <br>
		<input type="password" name="password"> <br>

		<label>Phone</label> <br>
		<input type="number" name="phone" value="<%= customer.phone %>"> <br>

		<label>Gender</label> <br>
		<input type="text" name="gender" value="<%= customer.gender %>"> <br>

		<input type="submit" name="submit">
	</form>

	<a href="/customers/<%= customer.id %>/delete">Delete My Account</a>
</body>
</html>